.container {
  text-align: center;
  width: 100%;
}

.td {
  text-align: center;
  border: 1px solid black;
}
.flex-large {
  width: 100%;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 530px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid black;
  background: rgb(107, 105, 105);
  border-radius: 10px;
}

.input {
  outline: none;
  height: 30px;
  margin: 5px;
  border-radius: 15px;
  padding: 5px 0 0 10px;
  border: none;
}
.validate {
  border: 1px solid red;
}

/*table*/
.table {
  margin: 0 auto;
  height: 400px;
  width: 80%;
}

/*pagination*/
.pagintion-container {
  width: 100%;
  border-bottom: 1px solid silver;
  position: absolute;
  bottom: 0;
}
.pagination-btn {
  padding: 20px;
  margin: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.pagination-btn:hover {
  padding: 19px;

  border: 1px solid silver;
  background: lightblue;
}

.Toastify__toast {
  min-height: 46px;
}
